    <div class="intro-wrapper">
        <h1 class="main-tag">Allt om potensproblem.</h1>
        <p class="tag-preamble">Vi har samlat artiklar författade av läkare som handlar om saker du kan tänkas vilja veta om potensproblem och allt däromkring. Hoppas du hittar det du söker.</p>
    </div>
   
    <div class="term-tags">
        <a class="tag" href="{{@site.url}}" data-slug="alla" data-order="0">
            {{#get "posts" limit="all"}}
                <span class="tag-name">Alla</span><span class="tag-count">{{posts.length}}</span>
            {{/get}}
        </a>
        {{#get "tags" limit="all" include="count.posts"}}
            {{#foreach tags}}
                <a class="tag" href="{{url}}" data-slug="{{slug}}" data-order="{{@number}}">
                    <span class="tag-name">{{name}}</span><span class="tag-count">{{count.posts}}</span>
                </a>
            {{/foreach}}
        {{/get}}
    </div>