<div class="widget widget-tags u-shadow">
    <h4 class="widget-title">Ämnen</h4>
        <div class="tag-feed">

        {{#get "posts" limit="all"}}
            <div class="tag">
                <a class="tag-link" href="{{url}}">
                    <span class="tag-name">Alla</span>
                    <span class="tag-count">{{posts.length}}</span>
                </a>
            </div>
        {{/get}}
        {{#get "tags" limit="all" include="count.posts"}}

                {{#foreach tags}}
                    <div class="tag">
                        <a class="tag-link" href="{{url}}">
                            <span class="tag-name">{{name}}</span>
                            <span class="tag-count">{{count.posts}}</span>
                        </a>
                    </div>
                {{/foreach}}
            </div>
        {{/get}}
</div>